/*Styles sheet for the m_answer_sheet module*/

#body{
  white-space: nowrap;
  overflow-x: hidden;
  color: white;
  opacity: 0.7;
  position: relative;

}
*:focus {
    outline: none;
}
b{
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
}
#special_characters{
  float:left;
  width: 170px;
  position: absolute;
  left: 33px;
  top: 385px;
  text-align: center;
}

.special_button{
  width: 50px;
  height: 50px;
  border-radius: 7px;
  border:none;
  transition: background-color;
}
.special_button:hover{
  background-color: rgb(101, 123, 201);
}
.answerKeyElement{
  float: left;
  text-align: center;
}
.seriesNumbers{
  width: 35px;
  height: 35px;
  border-radius: 7px;
  border: none;
  transition: background-color;
}
.seriesNumbers:hover{
  background-color: rgb(101, 123, 201);
}
.answerKeyElement{
  padding: 15px;
}
.level1Set, .level2Set, .level3Set{
  height: 58px;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: background-color;
}
.level1Set:hover, .level2Set:hover, .level3Set:hover{
  background-color: rgb(101, 123, 201);
}

.level1Values, .level2Values, .level3Values{
  height: 38px;
  width: 15vw;
  background-color: rgb(31, 34, 36);
  border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
  border: none;
  color: white;
  padding: 10px;
}
