/*Styles sheet for the m_answer_sheet module*/
body{
  font-family: 'Advent Pro', sans-serif;
}
*:focus {
    outline: none;
}
b{
  font-family: 'Advent Pro', sans-serif;
  font-size: 30px;
}
.container-fluid{
  height: 100vh;
  padding: 0;
}
.row{
  height:inherit;
}
.col-md-3{
  height:inherit;
  padding: 0;
  text-align: center;
}
#questionTable{
  width: 100%;
  height: 70%;
}
td{
  width:30px;
}
.col-md-9{
  height:inherit;
  padding: 0;
}
.col-md-4{
  height:inherit;
  padding: 0;
  text-align: center;
}
.answerTable{
  text-align: center;
  width: 100%;
}
.inputs{
  width: 80%;
  height: 13vh;
  padding-top: 10px;
  padding-bottom: 10px;
}
.buttons{
  width: 20%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#special_characters{
  width: 100%;
}
.special_button{
  width: 20%;
  height: 7vh;
  border: none;
  border-radius: 7px;
  font-size: 25px;
}
.special_button:hover{
  background-color: #49D6B8;
}
.answerKeyElement{
  float: left;
  text-align: center;
}
.seriesNumbers{
  width: 80%;
  height: 7vh;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  font-family: 'Advent Pro', sans-serif;
}
.seriesNumbers:hover{
  background-color: #49D6B8;
}
.level1Set, .level2Set, .level3Set{
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  font-family: 'Advent Pro', sans-serif;
}
.level1Set:hover, .level2Set:hover, .level3Set:hover{
  background-color: #49D6B8;
}

.level1Values, .level2Values, .level3Values{
  width:100%;
  height: 100%;
  text-align: center;
  color: white;
  background-color: black;
  opacity: 0.8;
  border: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
