/*Styles sheet for the m_statistics module*/

body{
  color: white;
  opacity: 0.7;
  padding:0;
  margin:0;
  overflow-y: auto;
  overflow-x: auto;
}
*:focus {
    outline: none;
}
#buttons{
  width:100vw;
  position:fixed;
  height:10vh;
  background-color: black;
  margin: 0;
  border-bottom: 1px solid white;
}

.selectorButton{
  float:left;
  width:20%;
  margin:0;
  border:none;
  border-radius: 20px;
  transition: background-color 0.5s ease;
  height: 100%;
  background-color: inherit;
  color:white;
  font-family: 'Advent Pro', sans-serif;
  font-size: 120%;
}
.selectorButton:hover{
  background-color: dimgray;

}
.graphwrap{
  display: none;
  position:absolute;
  top: 12%;
  left: 50px;
}
#attemptsVTime{
  display: inline;
}
#y-axis{
  position:absolute;
  left: 10px;
  top: 70%;
  transform: rotate(270deg);
	transform-origin: left top 0;
  font-size:130%;
  font-family: 'Advent Pro', sans-serif;
}
#x-axis{
  position:fixed;
  bottom: 20px;
  left:40%;
  font-size: 130%;
  font-family: 'Advent Pro', sans-serif;
}
