/*Styles sheet for the m_team_data module*/
body{
  padding:20;
  margin:0;
  opacity: 0.7;

}
#teamDataTable{
  margin:0;
  padding:0;
  border-collapse: collapse;
  text-align: center;
  color:white;
}
td{
  border-top:1px solid #000000;
  border-bottom: 1px solid #000000;
  border-color: white;
  padding-left: 20px;
  padding-right:20px;
}
th{
  padding-left: 20px;
  padding-right: 20px;
}
