<style>
/*Style sheet for control panel*/


/*Resets all html borders to 0.*/

#html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
*:focus {
    outline: none;
}
body {
  background-image: url('../images/IMG_2050.JPG');
	background-size: cover;
  max-width: 100%;
  margin: 0;
  overflow:auto;
  min-height: 565px;
}
#everything{
  position: relative;
  min-width: 1254px;
  margin: 1%;
}
#ribbon {
  min-width:1254.4px;
  width:100%;
  background-color: black;
  color: white;
  margin: 0;
  position: absolute;
  white-space: nowrap;
  overflow: inherit;
  font-family: 'Advent Pro', sans-serif;
  border-bottom: 1px solid white;
  border-top: none;
  opacity: 0.6;

}
#ribbon1 {
  position: absolute;
  background-color: inherit;
  padding-left: 17px;
  height: 93px;
  width: 16%;
  min-width: 200px;
  border-top-left-radius: 20px;
  border-bottom: 1px solid white;
  border-top: none;
}
#ribbon2 {
  position: absolute;
  white-space: nowrap;
  background-color: inherit;
  height: 93px;
  width: 84%;
  min-width: calc(100% - 200px);
  right:0;
  border-top-right-radius: 20px;
  border-bottom: 1px solid white;
  border-top: none;
}
#container {
  width: 100%;
}
#content {
  float: left;
  width: calc(100% - 150px);
  overflow: hidden;
}
#toolbar {
  border-right: 1px solid white;
  border-bottom-left-radius: 20px;
  border-top: 1px solid white;
  opacity: 0.6;
  position: absolute;
  white-space: normal;
  background-color: black;
  width: 12%;
  min-width: 150px;
  min-height: 450px;
  height: calc(96vh - 93px);
  margin-top: 93px;
}
#freezeLeaderboard {
  width: 14%;
  min-width: 173px;
  height: 93px;
  text-align: left;
  background: none;
  padding: 10px;
  border: none;
}
#freezeLeaderboard:hover{
  background-color: dimgray;
}
#timer {
  background-color: inherit;
  float: right;
  font-size: 20px;
  height: 40px;
  margin-top: 27px;
  padding: 12px;
  padding-top: 7px;
  color: white;
  text-align: center;
  width: 7%;
}
#logoutButton {
  float: right;
  margin: 0px;
}

#clear {
  width: 8.9%;
  height: 93px;
  background: none;
  padding: 0;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
  transition: background-color 0.5s ease;
}
#clear:hover {
  background-color: dimgray;
}

iframe{
  overflow:hidden;
  opacity: 0.8;
  width: 100%;
}
.iframeMod {
  position: absolute;
  min-height: 450px;
  width: 88%;
  min-width:1103.87px;
  margin-right: 0;
  height: calc(96vh - 93px);
  border-bottom-right-radius: 20px;
  border: none;
  top: 93px;
  right: 0%;
  border-left: 1px solid white;
  border-top: 1px solid white;
  background-color: black;
}
.contentMod{
  overflow: hidden;
}
.toolbarButton {
  width: 100%;
  height: 14.36%;
  border-radius: 20px;

  text-align: center;
  background: none;
  padding: 10px;
  border: none;
  transition: background-color 0.25s ease;
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
  color: white;
}
.toolbarButton:hover {
  background-color: DimGray;
}
.ribbonButton {
  width: 8.9%;
  height: 93px;
  background: none;
  padding: 0;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
  transition: background-color 0.5s ease;
}
.ribbonButton:hover {
  background-color: dimgray;
}
.ribbonButton:disabled{
  color: black;
}
</style>
