
body{
  font-family: 'Advent Pro', sans-serif;
  min-height: 619px;
  overflow: hidden;
  text-align: center;
}

.container{
  height: 100vh;
  font-size: 50px;
}
.leaderboard{
  width: 100%;
}
#leaderboardTable2{
  font-size: 30px;
  text-align: center;
}
th{
  text-align: center;
  padding: 10px;
  min-width: 100px;
}
td{
  padding: 5px;
}
.left{
  font-style:italic;
}


#row0{
  color: rgb(193, 161, 25);
  font-size: 170%;
}
#row1{
  color: rgb(167, 170, 171);
  font-size: 150%;
}
#row2{
  color: rgb(158, 103, 9);
  font-size: 130%;
}
