
/*Stylesheet for leaderboard.php*/
#html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body{
  text-align: center;
  background-image: url('../images/SAM_1343.JPG');
  background-size: cover;
  font-family: 'Advent Pro', sans-serif;
  min-height: 619px;
  overflow: hidden;
}
section{
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 3%;
  background-position: center;
  border: 3px solid black;
  border:5%;
  padding: 3%;
  border-radius: 20px;
  position:relative;
  background-color: rgba(0,0,0,0.8);
  color: white;
  /*overflow: auto;*/
  min-height:400px;
  min-width:600px;
  height: auto;
}
h1{
  margin: 0px;
  font-size: 400%;
}
#rank1, #rank2{
  color: rgb(94, 138, 103);
}
#name1, #name2{
  color: rgb(20, 102, 100);
}
#points1, #points2{
  color: rgb(20, 102, 100);
}
/*#leaderboardTable1{
  width: 50%;
  min-width: 412px;
  font-size: 150%;
  float: left;
  border-right: 2px solid white;
}*/

#leaderboardTable2{
  width: 70%;
  min-width: 412px;
  font-size: 150%;
  white-space: nowrap;
}

.right{
  padding-left: 8px;
  text-align:center;
}
.left{
  padding-right: 8px;
  text-align: right;
  width: 50%;
  max-width: 100em;
}
.rank{
  text-align: center;
}
#row0{
  color: rgb(193, 161, 25);
  font-size: 130%;
}
#row1{
  color: rgb(167, 170, 171);
  font-size: 130%;
}
#row2{
  color: rgb(158, 103, 9);
  font-size: 130%;
}
