body {

    text-align: center;
    background-image: url('../images/SAM_1340.JPG');
    background-size: cover;
    font-family: sans-serif;
    overflow: auto;
    font-family: 'Advent Pro', sans-serif;
}

section {


    color: white;
    margin: 5%;
    margin-bottom: auto;
    background-position: center;
    border: 3px solid black;
    border:5%;
    padding: 2%;
    padding-top: 0%;
    border-radius: 20px;
    position:relative;

    background-color: rgba(0,0,0,0.7);

}
*:focus {
    outline: none;
}

h1 {
      font-size: 500%;
      font-family: 'Advent Pro', sans-serif;
      padding:-5%;
      margin: -10%:
}
#one{
  color: rgb(94, 138, 103);
}
#two{
  color: rgb(20, 102, 100);
}
#three{
  color: rgb(32, 70, 93);
}

.loginField{
  background-color: rgb(42, 46, 48);
  border: none;
  height: 25px;
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-family: 'Advent Pro', sans-serif;
}
.userLoginButton{
  width: 150px;
  height: 75px;
  border:none;
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
  color: white;
  transition: background-color 0.4s ease;
  font-size: 20px;
  font-family: 'Advent Pro', sans-serif;
}
.userLoginButton:hover{
  background-color: rgb(32, 70, 93);
}
