body {

    text-align: right;
    background-size: cover;
    font-size: 500%;
    font-family: 'Advent Pro', sans-serif;
    background-color: none;

}
*:focus {
    outline: none;
}

.jumbotron{
  height: 50vh;
  background-color: white;
}
.filler{
  height:25vh;
}
.contentLeft{
}
h1 {
    margin: 0%;
    padding: 0%;
}

ul {
  display: inline;
}

span#first {
  color: rgb(94, 138, 103); <!--Light Green Color -->
}

span#second {
  color: rgb(20, 102, 100); <!--Dark Green Color -->
}

span#third {
    color: rgb(32, 70, 93); <!--Dark Blue Color -->
}

h2 {
    color: rgb(36, 132, 97); /* <!-- Green color -->*/
}

.indexButton{
  width: 100%;
  height: 33%;
  border:none;
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.4s ease;
  text-align: left;
  font-family: 'Advent Pro', sans-serif;
  font-size: 70%;
}
#welcomeButton:hover{
  background-color: rgb(94, 138, 103);
}
#adminButton:hover{
  background-color: rgb(20, 102, 100);
}
#aboutButton:hover{
  background-color: rgb(32, 70, 93);
}
